html,
        body {
            width: 100%;
            height: 100%;
        }
        body {
            background-color: #ffffff;
            margin: 0;
            overflow: hidden;
            font-family: calibri;
        }
        #canvas {
  
    position: static; /* fixed or static */
    top: 0;
    left: 0;
}
   
   h1{
   	display:block;
   	background: url("../assets/images/vrdoodler_icon.jpg") no-repeat bottom center;
    height:30px;
    
   		
   }
   
   div.hero-unit{
   float:right;
   position:relative;
   width:250px;
   top:100px;
   z-index:10;
   background-color:gray;
   color:white;
   opacity:.8;
   visibility:hidden;
   }
   h2{
   margin-top:0;
   padding-top:0;
   }
   ul {
   padding:5px;
   margin:10px;
   	list-style:none;
   	
   }
#tutorial, #infoPanel{
	text-decoration:none;
	
	float:left;
    width:250px;
    height:200px;
    position:absolute;
    opacity:.8;
    z-index:10;
	padding:5px;	
	background-color:gray;
	color:white;
	overflow:hidden;
}
, #tutorial{

	float:left;
	
	}
	#infoPanel{ visibility:hidden;}
li span {text-decoration: underline; }


a.imgclose{
    float:right;
    margin-top:-30px;
    margin-right:-10px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;  
    visibility:hidden;
}

.imgclose:before {
    content: "×";
}