html,
	body {
		width: 100%;
		height: 100%;
	}
	body {
		background-color: #ffffff;
		margin: 0;
		overflow: hidden;
		font-family: Oswald;
		font-size: 18px;
		font-style: normal;
		font-variant: normal;
		font-weight: 100;
		line-height: 20px;
        }
    


	#canvas {  
		position: static; /* fixed or static */
		top: 0;
		left: 0;
		}

	}
	  
	#infoPanel{ visibility:hidden;}
	
	input[type='button'], div#preview input, div#preview, input[type='checkbox'], input[type='radio'] {
	
		padding:5px;
		margin:10px;
		border:none;
		}
	input[type='button'], div#preview input, div#preview, div label	{
		font-family: Oswald;
		font-size: 18px;
		font-style: normal;
		font-variant: normal;
		font-weight: 100;
		line-height: 20px;
		cursor:pointer;
		text-align:center;
		width:80px;
		height:35px;
	}
	input[type='button'], div#preview input, div#preview{
		
		background-color:rgba(240,240,240,1);

	}
	input[type='button']{
		box-shadow: 2px 2px #aaa;
	}
	div#preview{
		vertical-align:middle;
		width:90px;
	}
	div#preview input{
		opacity: 0;
		text-align:center;
			width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	
	a.imgclose{
		float:right;
		margin-top:-30px;
		margin-right:-10px;
		cursor:pointer;
		color: #fff;
		border: 1px solid #AEAEAE;
		border-radius: 30px;
		background: #605F61;
		font-size: 31px;
		font-weight: bold;
		display: inline-block;
		line-height: 0px;
		padding: 11px 3px;  
		visibility:hidden;
	}
	
	.imgclose:before {
		content: "×";
	}
	
	#tuteInstructions{
	float:left;
	position:relative;
	margin-top:20px;
	padding:10px;
	}

/*

**********************
Left-hand control bar.
**********************

*/

	.hero-unit {
		float:left;
		position:absolute;
		width:250px;
		top:10px;
		z-index:10;
		background-color:white;
		color:black;
		background-color:rgba(255,255,255,.8);
		visibility:hidden;
		font-family: Oswald;
		/*padding:10px;*/
	}
	.hero-unit h1{
		padding: 10px;
		background-color: white;
		margin-top: 0;
	}
	.hero-unit img.logo {
		/*margin-left: auto;*/
		/*margin-right: auto;*/
		/* FIXME: err, I couldn't center this! */
		margin-left: 20px ;
		/*margin-top: 20px ;*/
		width:200px;
		height:51px;
	
	}
	
	.hero-unit #tabs{
		margin-top:20px;
		/*width: 100% ;*/
	
	}
	
	.hero-unit #tabs a {
		font-size: 1.1em ;
		text-transform: uppercase;
		color: white;
		/*background-color: #e2a336;*/
		color: #555;
		/*border-right: 1px solid #222;*/
		padding: 10px;
		cursor: default;
		/*display: inline-block;*/
		vertical-align: middle;
		border-top: 1px groove white;
		border-bottom: 1px groove white;
		text-decoration: none;
		padding: 10px 35px;
	}
	.hero-unit #tabs a.selected {
		color: #fff ;
		background-color: #e2a336;
		text-shadow: -1px -1px 1px #666 ;
	}


.hero-unit section ul {
    padding:5px;
    margin:10px;
    margin-top:20px;
    list-style:none;
    /*margin-top:40px;*/

}


.hero-unit section ul li form {
    /*border:1px groove rgba(255,255,255,1);*/
}

.hero-unit section ul li form.draw_mode {
    margin-bottom: 5px ;
}

.hero-unit section ul li form span.input_label span.keyboard_shortcut {
    /*li span {text-decoration: underline; }*/
}

.hero-unit section ul li .input_label {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    padding:10px;
}

.hero-unit section ul li #lineWidthSlider {
/*
FIXME: adjust size here? how?
*/
}


#playBackSpeedSlider {
	width:100px;
	top:-36px;
	left:120px;
}


input.tt + .tooltip {
  
    padding: 15px;
    font-size: 10px;
}

